.image{
    width: 17em;
}

img {
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.info h2 {
  font-size: 16px;
  margin-bottom: 1em;
}

.info p {
  font-size: 14px;
  margin-bottom: 0.5em;
}
