.wrapper {
  position: relative;
}

.search i {
  color: hsl(0, 0%, 52%);
  height: 1.5em;
  width: 1.5em;
  padding: 10px;
  position: absolute;
  top: 33%;
  left: 3em;
}

.search input {
  width: 100%;
  border-radius: 0.5em;
  border: none;
  margin: 2em 2em 1em 1em;
  height: 4em;
  padding-left: 5.8em;
}

.search input::placeholder {
  color: hsl(0, 0%, 52%);
  font-size: 14px;
  position: absolute;
  left: 5.5em;
}

@media (min-width: 800px){
    .search input{
        width: 100%;
    }
}
