.container {
  margin-top: 2em;
  max-height: 100vh;
}
.image {
  height: 200px;
  margin-left: 2.2em;
  margin-right: 2.2em;
}

.image img {
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  flex: 1 1 50%;
}

.info h2 {
  font-size: 18px;
  margin-bottom: 1em;
}

.info p {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.back {
  width: 100px;
  height: 35px;
  margin: 4em 0 4em 2.6em;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px -1px 36px 11px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px -1px 36px 11px rgba(204, 204, 204, 1);
  box-shadow: 0px -1px 36px 11px rgba(204, 204, 204, 1);
}

.back i {
  margin-right: 1em;
}

.secondaryinfo,
.borders {
  margin-top: 2em;
}

.countriescontainer span {
  margin: 1em 0 0 1em;
}

.countriescontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    padding: 0;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 3em;
    gap: 2em;
    flex: 1 1 30%;
  }

  .info {
    padding: 2em;
    margin-top: 6em;
  }

  .info h2 {
    font-size: 30px;
  }

  .image {
    width: 600px;
    height: 400px;
  }

  .image img {
    border-radius: 2px;
    object-fit: fill;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }

  .maininfo {
    flex: 1 1 30%;
  }

  .secondaryinfo {
    margin-top: 0;
    flex: 1 1 60%;
  }

  .borders {
    display: flex;
    align-items: baseline;
    flex: 1 1 100%;
  }

  .countriescontainer {
    gap: 2em;
  }

  .back {
    margin: 1em;
  }
}
